/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.gform_wrapper .gfield textarea,
.gform_wrapper .chosen-container-single .chosen-single span{
	text-transform: initial !important;
	font-size: 14px;
}
.display_none{display:none;}
input{
	text-transform: inherit !important;
}
.fl-slide.fl-slide-2 .fl-slide-content-wrap{
	display: none!important;
}
.product-box h1{
	font-size: 30px !important;
}
.uabb-button-text.uabb-creative-button-text{
	text-transform: uppercase !important;
}
.fl-module-uabb-gravity-form input::-webkit-input-placeholder,
.fl-module-uabb-gravity-form  textarea{
   text-transform: capitalize;
}

.fl-module-uabb-gravity-form input::-moz-placeholder { 
   text-transform: capitalize;
}

.fl-module-uabb-gravity-form input::-moz-placeholder {  
   text-transform: capitalize;
}

.fl-module-uabb-gravity-form input::-ms-input-placeholder { 
   text-transform: capitalize;
}

footer ul li a{
	display: inline-block !important;
}

h1.googlekeyword {
    font-family: Shadows Into Light, cursive;
    font-weight: 400;
    font-size: 55px;
    color: #fff;
    text-align: center;
}

#menu-main-menu-1>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px!important;
	font-size: 14px !important;
    padding-right: 7px!important;
}
.fl-page-header-primary .fl-logo-img{
	width: 250px !important;
    max-width: 100% !important;
}
.fl-slide-2 h2{
	font-size: 46px;
	color: #fff !important;
}
.fl-slide-2 .fl-button-wrap.fl-button-width-auto span{
	color: #fff !important;
}
.fl-slide-2 .fl-slide-content{
	height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.fl-button-wrap a.fl-button, .fl-button-wrap a.fl-button:visited {
    background: #d92f32;
    color: #fff;
    border: 1px solid #d92f32;
}
.fl-slide-photo{
	margin-top: 80px !important;
}
header .uabb-creative-menu .uabb-has-submenu-container>a>span:after {
    content: "\f078";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 0px 0 0 5px;
    font-weight: 400;
    float: right;
}

.gform_wrapper ul.gform_fields .gfield_time_ampm select {
    padding-left: 3px!important;
    padding-right: 0px!important;
}
.gform_wrapper .gfield_checkbox li label{
    width: 100%!important;
    max-width: 100%!important;
    margin-top: 10px;
    display: block;
}
.fl-node-5cf8260fd1313 .uabb-gf-style .gform_wrapper .gfield_checkbox li label{
    margin-top: 10px!important;
}
.storename .direction a {
    color: #d92f32!important;
    font-family: Shadows Into Light, cursive;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    width: 220px;
    min-height: 45px;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #d92f32;
    border: 1px solid #d92f32;
    background: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.fl-page-bar-text-1{
    display: flex !important;
    align-items: center;
}
.fl-page-bar-text-1 .storename{
    margin-bottom: 0;
    margin-left: 20px;
}

.storename .direction a:hover {
    background: #d92f32;
}

.storename .direction a span {
    color: #d92f32;
}

.storename .map-container iframe {
    min-height: 600px!important;
}

.gform_wrapper .ginput_container_date .datepicker.medium {
    width: 100%!important;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

body.page-id-447275 a.fl-button *,
body.page-id-447275 a.fl-button:visited *,
body.page-id-447275 .fl-builder-content a.fl-button *,
body.page-id-447275 .fl-builder-content a.fl-button:visited * {
    color: #d92f32;
}

body.page-id-447275 a.fl-button,
body.page-id-447287 a.fl-button,
body.page-id-447275 a.fl-button:visited,
body.page-id-447287 a.fl-button:visited,
body.page-id-447275 .fl-builder-content a.fl-button,
body.page-id-447287 .fl-builder-content a.fl-button,
body.page-id-447275 .fl-builder-content a.fl-button:visited,
body.page-id-447287 .fl-builder-content a.fl-button:visited {
    border: 1px solid #d92f32;
}
.product-detail-layout-5 .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button{
	font-weight: 700 !important;
    color: #000 !important;
}

element.style {
}
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 8px;
}
.gform_wrapper .gfield_time_hour {
    margin-right: .25rem;
}

@media only screen and (min-width: 321px){
	.gform_wrapper .gfield_time_hour,
	.gform_wrapper .gfield_time_minute{
    max-width: calc(6rem + .5rem) !important;
}
	.gform_wrapper .gfield_time_hour input, .gform_wrapper .gfield_time_minute input {
		width: calc(4rem + 8px) !important;
	}
}

.storename .direction a span {
    color: #d92f32!important;
}

.storename .direction a:hover span {
    color: #fff!important;
}

#menu-main-menu-1>li>a {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.fl-page-header-logo-col {
    width: 30%;
}

.fl-page-nav-col {
    width: 70%;
}
.fl-slide-2{
	top: 20px !important;
}
.bx-wrapper .bx-pager{
	padding-top: 0px !important;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{
	bottom: -15px !important;
}
@media(max-width:1024px) {
    .fl-node-5ce41c7b61a7a .uabb-creative-menu a {
        letter-spacing: 0px!important;
        padding: 10px 5px!important;
        font-size: 11px!important;
    }
    #menu-main-menu-1>li>a {
        letter-spacing: 0px;
    }
    .fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a,
    .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
        padding: 10px;
    }
}

@media(max-width:992px) {
    #main-menu-wrap {
        display: none!important;
    }
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
    .fl-page-header-logo-col .fl-page-header-logo{
        max-width: 85%;
    }
}

@media(max-width:768px) {
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		padding: 0 !important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
	.fl-page-header-logo {
		text-align: left;
	}
	.max-width-issue .fl-module-interactive-banner-2,
	.max-width-issue img{
		max-width: 400px !important;
		margin: 0 auto !important;
	}
	.min-width-400{
		min-width: 400px;
	}
	.min-width-400 img{
		width: 100%;
		min-width: 400px;
		margin: 20px;
	}
	footer li{
		text-align: center; 
	}
	#menu-copyright-bar-menu li a{
		padding: 8px 5px !important;
	}
    .active-gallery-modal .product-box a.fl-button {
        margin: 0px auto;
    }
    .fl-page-header-logo-col {
        width: 100%;
    }
    .fl-page-nav-col {
        display: none;
    }
    button#responsive-menu-button {
        top: 70px!important;
    }
    .fl-page-bar .fl-page-bar-row .text-left {
        display: none!important;
    }
    .fl-page-bar .fl-page-bar-row .text-right {
        width: 100%!important;
        text-align: center;
    }
/*     .facet_filters {
        position: static;
        width: auto;
        box-shadow: none;
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: none;
    }
    .facetwp-per-page,
    .facetwp-pager {
        text-align: right !important;
    }
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: left !important;
    } */


  /* Slider height issue on mobile open */
  .custombanneralert{
      padding: 0 15px;
  }
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
/* Slider height issue on mobile closed */


}

/* @media (max-width:767px) {
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
        box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    }
    .facet_filters .close_bar,
    .open_sidebar,
    .close_sidebar_button {
        display: block;
    }
    .facetwp-per-page,
    .facetwp-pager {
        float: none;
    }
    .facetwp-per-page,
    .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts {
        text-align: center !important;
    }
}
 */
.btn-hover {
    z-index: 99;
}
body .gform_wrapper ul li.gfield{
    margin-top: 0 !important;
}
.uabb-gf-style .gform_wrapper ul.gfield_radio li, .uabb-gf-style .gform_wrapper ul.gfield_checkbox li,
.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gfield .ginput_container_checkbox {
    margin-bottom: 0px !important;
}

.fl-module-uabb-gravity-form  .uabb-gf-style .gform_wrapper .gfield .ginput_container_checkbox {
    margin-top: 0px !important;
}
.gform_wrapper ul.gfield_checkbox{
    margin: 0 !important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]
{
    width: 90% !important;
    margin: 0 5% !important;
}

.facetwp-template .product-grid a.fl-button.getcoupon-btn:hover {
    background: #000 !important;
    border: 1px solid #000;
}
.storename li .phone a:before,
footer .storename li .phone span:before{
	content: "\f095" !important;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a:before{
	display: none;
}
.ui-datepicker-title{
	color: #000!important;
}
a.fl-button:hover, .fl-builder-content a.fl-button:hover{
	background: #000 !important;
    border: 1px solid #000 !important;
}

.gform_wrapper .gfield_time_hour i{
	    margin-top: -4% !important;
}
@media(max-width: 400px){
	.fl-module-content-slider > .fl-node-content{
		margin-top: 0px !important;
	}
	/* .fl-page-header-logo-col .fl-page-header-logo a img {
		max-width: 60%;
	} */
}


.fl-page-nav-right .fl-page-header-logo{
	display: inline-flex;
}
.fl-page-nav-right .fl-page-header-logo > a {
    padding-right: 15px;
}